/* Entire webpage size */
.html {
    height: 100%;
    width: 100%;
}

/* Entire body styling */
.home {
    margin: 0;
    background-image: url("pictures/back.png") ;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Specific aligning only for the mrgs logo */
.mrgs {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Sizing for the mrgs image */
.mrgs img {
    max-width: 100%;
    height: auto;
}

/* Alignment for the Google Slides */
.slideshow {
    justify-content: center;
    text-align: center;
    align-items: center;
}

/* Positioning for the Navigation Bar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #977f4a;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

/* Positioning for the Navigation Bar targeting all anchor elements*/
.navbar a {
    color: #1a4484;
    text-decoration: none;
    padding: 13px 33px;
    border-radius: 11px;
    transition: background-color 0.4s;
    font-family: Verdana;
}

/* What happens when you hover on the navbar buttons */
.navbar a:hover {
    background-color: #005900;
    color: #ffffff;
}

/* h1 element contained within the webtitle class */
.webtitle h1 {
    font-family: "Georgia";
    color: #ffffff;
    font-size: 350%;
    text-align: center;
}

/* Glowing title */
.flashy-title {
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px #00FF00, 0 0 14px #00FF00, 0 0 18px #00FF00;
}

/* Styling for the size of the container */
.container {
    display: flex;
    padding: 15px;
    gap: 15px;
}

/* Styling for boxes contained in the container */
.box {
    flex: 1;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    font-family: Garamond;
    background-color: #DEDEDE;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Styling on the h1 element */
h1 {
    color: #1CB80F;
    font-family: Monaco;
    font-size: 300%;
    text-align: center;
}

/* Styling on the h2 element */
h2 {
    font-family: Garamond;
    font-size: 210%;
    text-align: center;
    color: #1CB80F;
}

/* Styling on the h3 element */
h3 {
    font-family: Garamond;
    font-size: 300%;
    text-align: center;
    color: #1CB80F;
}

/* Styling on the paragraph element */
p {
    font-size: 20px;
    font-family: Garamond;
    color: #000000;
    text-align: center;
    max-width: 100%;
}

/* Styling for the positioning for the video */
.video-box {
    text-align: center;
    padding: 0 20px;
}

/* Styling for the size of the footer container */
.2container {
    max-width: 12000000000px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    text-align: center;
}

/* Styling for boxes contained in the container */
.box1 {
    flex: 1;
    border: 2px solid black;
    padding: 0px;
    font-size: 20px;
    font-family: Garamond;
    background-color: #DEDEDE;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 120000000px;
}

/* Coding to change the size of the website to fit the size of the device being used */
@media (max-width: 768px) {
    body {
        font-size: 10px
        padding: 5px
    }
    .slideshow iframe {
        width: 750;
        height: 445;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 6px;
        padding: 3px;
    }
    .slideshow iframe {
        width: 450;
        height: 267;
    }
}
