.html {
    height: 100%;
    width: 100%;
}

.home {
    margin: 0;
    background: url('pictures/back.png') bottom center no-repeat,
                url('pictures/back.png') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

.mrgs {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.mrgs img {
  max-width: 100%;
  height: auto;
}

.slideshow {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.navbar {
    background-color: #977f4a;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: #1a4484;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: Verdana;
}

.navbar a:hover {
    background-color: #005900;
    color: #ffffff;
}

.webtitle h1 {
    font-family: "Georgia";
    color: #ffffff;
    font-size: 350%;
    text-align: center;
}

h1 {
    font-family: Arial;
    text-align: center;
    color: #B02209;


}
h4 {
    font-family: Arial;
    text-align: center;
    color: #CC260A;
}

p {
}
