html {
  height: 100%;
  width: 100%;
}

/* Entire Body CSS */
body {
    margin: 0;
    height: 100vh;
    background: url('pictures/back.png') bottom center no-repeat,
                url('pictures/back.png') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

/* Style for the logo in the header */
.logo {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

/* Style for the horizontal line */
.thin-white-line {
  border: none;
  margin: 0.1px;
}

/* Header styles */
.top {
  height: 100px;
  background-image: url('pictures/cheese.jpg');
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  text-align: center;
}

.top h1 {
  font-family: "Georgia";
  color: white;
  font-size: 350%;
  text-align: center;
  line-height: 2px;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    background-color: #977f4a;
    justify-content: center;
    align-items: center;
}

.navbar a {
  color: #1a4484;
  font-family: Verdana;
  text-decoration: none;
  transition: background-color 0.3s;
}

.header-button {
  background-color: #977f4a;
  width: 100px;
  height: 50px;
  align-items: center;
  text-align: center;
  line-height: 50px;
  color: #ff8597;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  border-radius: 15px;
  color:#44841a;  /*Text color*/
  text-decoration: none;
}

.header-button:hover{
  background-color:#005900;
  color: #ffffff;
}

/* Main content container styling */
.content {
  width: 75%;
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
}

/* Text styling */
h1 {
  text-align: center;
  color: #5b5b5b;
}

/* Heading with glowy text effect */
.glow {
  color: #ffffff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #44841a, 0 0 40px #44841a, 0 0 50px #44841a, 0 0 60px #44841a, 0 0 70px #44841a;
  }
  to {
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #9e6400, 0 0 40px #9e6400, 0 0 50px #9e6400, 0 0 60px #9e6400, 0 0 70px #9e6400;
  }
}

p {
  font-size: 25px;
  font-family: "Lato";
  color: #B02209;
  padding-left: 20px;
}

/* Accordion button styling */
.accordion {
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  color: #6e6e6e;
}

/* Arrow in accordion button */
.accordion .arrow {
  transition: transform 0.4s;
}

/* Rotating Arrow CSS */
.active .arrow {
  transform: rotate(180deg);
}

/* Accordion panel when hovered */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Accordion panel styling */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
